@import '../../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    width: max-content;
    height: max-content;
    min-width: 70vw;
  }
}
 
.height-70-vh {
  height: 70vh;
}

.height-65-vh {
  height: 65vh;
}

.button-container {
  display: flex;
  justify-content: space-between;
}