<mat-card class="mb-1">
    <mat-card-header>
        <mat-card-title>Urbanite Project</mat-card-title>
        <mat-card-subtitle>A platform that will assist with decision-making in urban transportation and transformation
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            In recent years, with the population and size of cities increasing exponentially, transportation has become
            even more important. The need for more efficient mobility solutions has been met with a variety of new
            concepts like sharing vehicles, electric scooters for rent, and even disruptive start-ups like Uber or
            Cabify, which are causing a stir with previously used models. However, such new models are putting public
            administrations in a challenging situation. The EU-funded URBANITE project aims to develop a solution that
            collects and analyses data, that combined with AI, can assist public administrations in policy-related
            decisions concerning urban transformation caused by these new transportation and business models. URBANITE
            focuses also on social aspects, by analyzing stakeholders’ trust in technologies aiding decision-making.
        </p>

    </mat-card-content>
</mat-card>
<mat-card class="mt-1">
    <mat-card-header>
        <mat-card-title>Objects</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            Cities are facing a revolution in urban mobility. Emerging start-ups are offering innovative mobility
            solutions to satisfy the demand of the growing population, both living or moving into the cities every day.
            We are moving from the concept of owning to sharing a vehicle; from using public transport services to
            moving around with a hop on/off bike or electric scooter; disruptive start-ups (Uber, Cabify) are shaking up
            traditionally established business models... But this innovation is also bringing up unforeseen consequences
            that public administrations need to manage. Electric scooters driven in pedestrian areas are posing safety
            risks and even pedestrian kills; piles of broken bikes are laying around in streets; protests and strikes by
            taxi drivers; electric charge points need to coexist with the growing demand for public parking spaces. It
            is in this new context that public administrations need means to help them understand this new scenario,
            supporting them in making policy–related decisions and predicting eventualities. There is a need of a
            platform that can harvest, fuse and curate data from heterogeneous sources, that can extract knowledge to
            help in the decision-making processes and simulation of solutions to anticipate behaviours and delimit
            unforeseen consequences. Besides, such intelligent platform can foster cross-departmental collaboration by
            eradicating internal silos. URBANITE will analyse the impact, trust and attitudes of civil servants,
            citizens and other stakeholders with respect to the integration of disruptive technologies such as AI, DSS,
            big data analytics and predictive algorithms in a data–driven decision-making process. To this end, URBANITE
            will provide recommendations, pathways and toolkits (both ICT-based such as data management platform and
            DSS, and non-ICT such as co-creation activities and a repository of social-related assets) for city
            managers. Results will be validated in 4 real use cases: Amsterdam, Bilbao, Helsinki and Messina.
        </p>

    </mat-card-content>
</mat-card>