<mat-card class="mb-1">
    <mat-card-header>
        <mat-card-title>{{ "UP_TITLE" | translate }}</mat-card-title>
        <mat-card-subtitle>{{ "UP_SUBTITLE" | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ "UP_CONTENT" | translate }}
        </p>
    </mat-card-content>
</mat-card>
<mat-card class="mt-1">
    <mat-card-header>
        <mat-card-title>{{ "OBJ_TITLE" | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ "OBJ_CONTENT" | translate }}
        </p>
    </mat-card-content>
</mat-card>