<div class="row mb-3">
    <div class="col-12">
        <!-- select Catalogues -->
        <span>Catalogues</span>
        
    <nb-select multiple [(selected)]="selectedCatalogues" placeholder="Multiple Select" style="width: 150px;" (selectedChange)="getStatistics()">
        <nb-option [value]="0">All Selected</nb-option>
        <nb-option *ngFor="let catalogue of catalogueList" [value]="catalogue.id">{{catalogue.name}}</nb-option>
    </nb-select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Top 10 Catalogues (No. Datasets)</h5>
            </div>
            <div class="card-body">
                <div echarts [options]="options" [merge]="dataTop10" class="demo-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header d-flex flex-row justify-content-between">
                <h5 class="card-title">Most Active Catalogues</h5>
                <nb-select placeholder="Select Showcase" [(selected)]="selectedInterval" (selectedChange)="getStatistics()">
                  <nb-option [value]="0">Last Week</nb-option>
                  <nb-option [value]="1">Last Month</nb-option>
                  <nb-option [value]="2">Last Year</nb-option>
                </nb-select>
            </div>
            <div class="card-body">
                <div echarts [options]="optionsMostActive" [merge]="dataMostActive" class="demo-chart" [autoResize]="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Federated Catalogues Technologies</h5>
            </div>
            <div class="card-body">
                <div echarts [options]="optionsCircle" [merge]="dataTechnologies" [theme]="coolTheme" class="demo-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">DCAT Themes' Datasets</h5>
            </div>
            <div class="card-body">
                <div echarts [options]="optionsCircle" [merge]="dataThemes" [theme]="coolTheme" class="demo-chart"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-3">
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Most Used Distribution Formats</h5>
            </div>
            <div class="card-body">
                <div echarts [options]="optionsCircle" [merge]="dataFormats" [theme]="coolTheme" class="demo-chart"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Most Used Distribution Licenses</h5>
            </div>
            <div class="card-body">
                <div echarts [options]="optionsCircle" [merge]="dataLicenses" [theme]="coolTheme" class="demo-chart"></div>
            </div>
        </div>
    </div>
</div>