<section class="jumbotron">
    <div class="mb-4">
        <nb-card>
            <nb-card-body>
              <ngs-code-editor 
                theme="vs-light" 
                language="typescript"
                [options]="options"
                [codeModel]="code"
                >
              </ngs-code-editor>
            </nb-card-body>
        </nb-card>
        <div class="row">
          <div class="col-4">
            <span style="min-width: fit-content;margin-right: 0.5rem;">Output format:</span>
            <nb-select [selected]="outputFormat" placeholder="Output format">
              <nb-option value="XML">XML</nb-option>
              <nb-option value="JSON">JSON</nb-option>
            </nb-select>
          </div>
          <div class="col-8 d-flex justify-content-end">
            <button nbButton status="success" (click)="clear()" style="margin-right: 0.5rem;" >Clear</button>
            <button nbButton status="primary" (click)="executeQuery()">Execute</button>
          </div>
        </div>
    </div>
</section>
