<!-- <div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary"> -->
  <div class="col-row">
    <nb-card class="minicard">
      <nb-card-body class="d-flex flex-column align-items-left justify-content-left">
        <h2 class="jumbotron-heading">{{ 'REMOTE_CATALOGUE_ADMIN_TITLE' | translate }}</h2>
      </nb-card-body>
    </nb-card>
  
    <nb-card>
      <nb-card-body>
        <button routerLink="../" nbButton outline status="success">{{ 'REMOTE_CATALOGUE_ADMIN_BACK_BUTTON' | translate }}</button>
  
        <div class="row show-grid" style="padding-bottom: 10px">
          <div class="col-md-2">
            <label class="search-label" for="search" style="padding-top: 30px">{{ 'REMOTE_CATALOGUE_ADMIN_SEARCH_LABEL' | translate }}</label>
            <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" style="width: 200px; height: 30px">
          </div>
          <div class="col-md-2">
            <label class="search-label" style="padding-top: 60px; margin-left: 30px">{{ 'REMOTE_CATALOGUE_ADMIN_REMOTE_CATALOGUE_LABEL' | translate }}</label>
          </div>
          <div class="col-md-1">
            <nb-select placeholder="{{ 'REMOTE_CATALOGUE_ADMIN_JSON_CATALOGUE_PLACEHOLDER' | translate }}" style="padding-top: 50px" (selectedChange)="onCatalogueChange($event)">
              <nb-option *ngFor="let cat of allRemCat" [value]="cat.id">{{ cat.catalogueName }}</nb-option>
            </nb-select>
          </div>
        </div>
  
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[0]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 300px">{{ defaultColumns[0] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[0]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[1]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 75px">{{ defaultColumns[1] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[1]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[2]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 200px">{{ defaultColumns[2] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[2]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[3]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef style="width: 70px">{{ defaultColumns[3] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[3]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[4]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ defaultColumns[4] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[4]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="iconColumn">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'REMOTE_CATALOGUE_ADMIN_ACTIONS' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-action [disabled]="row.data.alreadyLoaded" icon="plus-circle-outline" nbTooltip="Add Catalogue" nbTooltipPlacement="right" [options]="{ animation: { type: 'zoom' } }" (click)="row.data.alreadyLoaded ? $event.stopPropagation() : addRemoteCatalogue(row.data.index)"></nb-action>
            </td>
          </ng-container>
        </table>
      </nb-card-body>
    </nb-card>
    <div class="row">
      <div class="col-9"></div>
    </div>
  </div>