<!-- <div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary"> -->
  <div class="col-row">
    <nb-card class="minicard">
      <nb-card-body class="d-flex flex-column align-items-left justify-content-left">
        <h2 class="jumbotron-heading">{{ 'REMOTE_CATALOGUE_ADMIN_TITLE' | translate }}</h2>
      </nb-card-body>
    </nb-card>
  
    <nb-card>
      <nb-card-body>
        <button routerLink="../" nbButton outline status="success">{{ 'REMOTE_CATALOGUE_ADMIN_BACK_BUTTON' | translate }}</button>
  
        <div class="row show-grid pb-10 align-items-center">
          <div class="col-sm-12 col-md-4 col-lg-3">
            <label class="search-label" for="search">{{ 'SEARCH' | translate }}:</label>
            <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">
          </div>
          <div class="col-sm-4 col-md-4 col-lg-2">
            <label class="search-label">{{ 'REMOTE_CATALOGUE_ADMIN_REMOTE_CATALOGUE_LABEL' | translate }}</label>
          </div>
          <div class="col-sm-2 col-md-2 col-lg-1">
            <nb-select placeholder="{{ 'REMOTE_CATALOGUE_ADMIN_JSON_CATALOGUE_PLACEHOLDER' | translate }}" (selectedChange)="onCatalogueChange($event)">
              <nb-option *ngFor="let cat of allRemCat" [value]="cat.id">{{ cat.catalogueName }}</nb-option>
            </nb-select>
          </div>
        </div>
  
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[0]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-300">{{ defaultColumns[0] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[0]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[1]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-75">{{ defaultColumns[1] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[1]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[2]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-200">{{ defaultColumns[2] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[2]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[3]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-70">{{ defaultColumns[3] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[3]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[4]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-200">{{ defaultColumns[4] }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[4]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="iconColumn">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-120">{{ 'ACTIONS' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-action [disabled]="row.data.alreadyLoaded" icon="plus-circle-outline" nbTooltip="Add Catalogue" nbTooltipPlacement="right" [options]="{ animation: { type: 'zoom' } }" (click)="row.data.alreadyLoaded ? $event.stopPropagation() : addRemoteCatalogue(row.data.index)"></nb-action>
            </td>
          </ng-container>
        </table>
      </nb-card-body>
    </nb-card>
  </div>