.white-text {
    color: white;
}

.no-white {
    color: black;
}

label {
    color: #222b45;
}

span {
    color: #222b45;
}

.buttonContainer{
    // buttons should be in the same line
    display: flex;
    // justify-content: space-between;
    gap: 0.5rem;

}

::ng-deep .nb-tree-grid-header-cell button{
    vertical-align: middle !important;
    display: flex !important;
    align-items: center !important;
}