<div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary">
  <div class="col-row">
    <nb-card class="minicard">
      <nb-card-body class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="jumbotron-heading">{{ 'DATALET_SEARCH_TITLE' | translate }} {{totalDatasets}} {{ 'DATALET_DATASETS_FROM' | translate }} {{cataloguesInfos.length}} {{ 'DATALET_CATALOGUES' | translate }}!</h2>
        <nb-tag-list (tagRemove)="onTagRemove($event)">
          <nb-tag appearance="outline" status="primary" *ngFor="let filter of filters" [text]="filter" removable></nb-tag>
          <input id="tags_input" type="text" nbTagInput (tagAdd)="onTagAdd($event)" [separatorKeys]="[188,13]" fullWidth>
        </nb-tag-list>
        <span class="dataset-found-span"><strong>{{ 'DATALET_DATASETS_FOUND' | translate }}:</strong> {{currentDatasets}}</span>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="d-flex flex-column align-items-center justify-content-center" *ngIf="searchResponse.count==0">
    <h3 class="jumbotron-heading">{{ 'DATALET_NO_DATASET_FOUND' | translate }}</h3>
      <div class="row m-1">
        <nb-tag-list (tagRemove)="onFilterRemove($event)">
          <nb-tag appearance="outline" status="primary" *ngFor="let filter of filtersTags" [text]="filter" removable></nb-tag>
        </nb-tag-list>
      </div>
  </div>
  <div class="search-results-body" *ngIf="searchResponse.count>0">
    <input type="checkbox" id="filter-toggle" class="filter-toggle-input">
    <label for="filter-toggle" class="filter-toggle-label">
      <nb-icon icon="options-2-outline"></nb-icon> 
      <span>{{'TOGGLE_FILTERS' | translate }}</span>
    </label>
    <div class="left-column">
      <nb-card *ngFor="let facet of searchResponse.facets" status="primary">
        <nb-card-header class="d-flex justify-content-between">
          {{facet.displayName}}
          <span *ngIf="facet.values.length>10" class="d-flex flex-row-reverse">
            <nb-icon *ngIf="getFacetsLimit(facet.displayName.toLowerCase())==10" icon="arrowhead-down-outline" (click)="setFacetsLimit(facet.displayName.toLowerCase(),facet.values.length)" nbTooltip="{{ 'DATALET_SHOW_ALL' | translate }}"></nb-icon>
            <nb-icon *ngIf="getFacetsLimit(facet.displayName.toLowerCase())>10" icon="arrowhead-up-outline" (click)="setFacetsLimit(facet.displayName.toLowerCase(),10)" nbTooltip="{{ 'DATALET_SHOW_TOP_10' | translate }}"></nb-icon>
          </span>
        </nb-card-header>
        <nb-card-body>
          <nb-list class="no-border">
            <nb-list-item *ngFor="let item of filterFacets(facet.search_parameter,facet.values) | slice:0:getFacetsLimit(facet.displayName.toLowerCase())" class="p-1 no-border">
              <a href="javascript:void(0)" (click)="getDatasetByFacet(facet.search_parameter,item.search_value)">{{item.facet}}</a>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="right-column">
      <div class="datasets-card">
        <!-- Pagination controls at top -->
        <div class="pagination-container mb-3">
          <pagination-controls id="datasetPagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
        <div class="row m-1">
          <nb-tag-list (tagRemove)="onFilterRemove($event)">
            <nb-tag appearance="outline" status="primary" *ngFor="let filter of filtersTags" [text]="filter" removable></nb-tag>
          </nb-tag-list>
        </div>
        <!-- results -->
        <nb-card *ngFor="let dataset of searchResponse.results | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: searchResponse.count, id: 'datasetPagination' }" class="minicard">
          <nb-card-header>
            <a [routerLink]="[dataset.id]">{{dataset.title}}</a>
          </nb-card-header>
          <nb-card-body class="content-truncated">
            <span class="truncated">{{dataset.description}}</span>
          </nb-card-body>
          <nb-card-footer>
            <nb-tag-list size="small">
              <nb-tag *ngFor="let tmp of dataset.distributionFormats" text="{{tmp.format}} ({{tmp.count}})" size="tiny" [style.background]="getColor(tmp.format)"></nb-tag>
            </nb-tag-list>
          </nb-card-footer>
        </nb-card>
        
        <!-- Pagination controls at bottom -->
        <div class="pagination-container mt-3">
          <pagination-controls id="datasetPagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>