<div class="d-flex flex-row justify-content-between align-items-center h-50">
  <mat-card class="col-6 mr-2" *ngFor="let c of cards">
    <mat-card-header>
      <img mat-card-avatar [src]="c.avatar"> 
      <mat-card-title>{{c.title}}</mat-card-title>
      <mat-card-subtitle>{{c.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img mat-card-image class="img-responsive" [src]="c.image">
      <p>
        {{c.description}}
      </p>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-center">
      <a href="{{c.url}}" mat-button target="_blank">OPEN</a>
    </mat-card-actions>
  </mat-card>
</div>