button[nbTreeGridRowToggle] {
  background: transparent;
  border: none;
  padding: 0;
  
}

.nb-tree-grid-header-cell{
    //background-color: #139973;
    background-color: #00b4ff;
    color: white;
    border: none;
}

.search-label {
  display: block;
}
.search-input {
  margin-bottom: 5px;
}

.nb-column-name {
  //width: 100%;
  //height: 100%;
}

nb-icon {
  font-size: 1rem;
  line-height: 1.2;
  width: 1.5em;
  height: 1.5em;
}

@media screen and (min-width: 400px) {
  .nb-column-name,
  .nb-column-size {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {
  .nb-column-name,
  .nb-column-size,
  .nb-column-kind {
    width: 33.333%;
  }
}

@media screen and (min-width: 600px) {
  .nb-column-name {
    width: 31%;
  }
  .nb-column-size,
  .nb-column-kind,
  .nb-column-items {
    width: 23%;
  }
}