<!-- <div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary"> -->
  <div class="col-row">
    <nb-card class="minicard">
      <nb-card-body class="d-flex flex-column align-items-left justify-content-left">
        <h2 class="jumbotron-heading">{{ 'DATALETS_MANAGEMENT_TITLE' | translate }}</h2>
      </nb-card-body>
    </nb-card>
  
    <nb-card>
      <nb-card-body>
        <div class="pb-30">
          <button routerLink="../adminCatalogues" nbButton outline status="success">{{ 'DATALETS_MANAGEMENT_BACK_BUTTON' | translate }}</button>
        </div>
  
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[0]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-200">{{ 'DATALET_TITLE' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[0]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[1]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-70">{{ 'NODE_ID' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[1]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[2]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-90">{{ 'DATASET_ID' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[2]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[3]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-95">{{ 'DISTRIBUTION_ID' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[3]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[4]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-120">{{ 'REGISTER_DATE' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[4]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[5]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-120">{{ 'VIEWS' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[5]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[6]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-120">{{ 'LAST_SEEN_DATE' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[6]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="iconColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(iconColumn)" *nbTreeGridHeaderCellDef class="col-w-120">{{ 'ACTIONS' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-icon icon="eye-outline" [options]="{ animation: { type: 'zoom' } }" (click)="handleIFrameDataletOpenModal(row.data.datalet_html)"></nb-icon>
              <nb-icon icon="close-outline" [options]="{ animation: { type: 'zoom' } }" (click)="deleteDatalet(row.data.id, row.data.nodeID, row.data.datasetID, row.data.distributionID)"></nb-icon>
            </td>
          </ng-container>
        </table>
      </nb-card-body>
    </nb-card>
  </div>