<!-- <div [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="primary"> -->
  <div class="col-row">
    <nb-card class="minicard">
      <nb-card-body class="d-flex flex-column align-items-center justify-content-center">
        <h2 class="jumbotron-heading">{{ 'CATALOGUE_LIST_MANAGE_CATALOGUES' | translate }} ({{totalCatalogues}})</h2>
      </nb-card-body>
    </nb-card>
  
    <nb-card>
      <nb-card-body>
        <div class="pb-20">
          <label class="search-label" for="search">{{ 'CATALOGUE_LIST_SEARCH_LABEL' | translate }}</label>
          <input fieldSize="small" nbInput [nbFilterInput]="dataSource" id="search" class="search-input">
        </div>
  
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [ngClass]="{'disabled' : row.data[defaultColumns[4]] == 'LOADING' }"></tr>
  
          <ng-container [nbTreeGridColumnDef]="customColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef class="col-w-75">{{ 'CATALOGUE_LIST_ACTIVE' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-toggle [checked]="row.data[customColumn]" status="success" (click)="activeCatalogue(row.data[defaultColumns[8]], row.data.index, row.data[customColumn])"></nb-toggle>
            </td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[0]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-200">{{ 'CATALOGUE_LIST_NAME' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row"> 
              <a href="{{row.data.catalogueUrl}}" target="_blank">{{ row.data[defaultColumns[0]] }}</a>
            </td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[1]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-75">{{ 'CATALOGUE_LIST_COUNTRY' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[1]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[2]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-150">{{ 'CATALOGUE_LIST_TYPE' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[2]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[3]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-70">{{ 'CATALOGUE_LIST_LEVEL' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[3]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[4]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-70">{{ 'CATALOGUE_LIST_STATUS' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <ng-template #online>
                <nb-icon icon="checkmark-outline" class="text-success"></nb-icon>
              </ng-template>
              <nb-icon *ngIf="row.data['synchLock'] == 'PERIODIC' || row.data[defaultColumns[4]] == 'LOADING'; else offline" class="rotate_icon" icon="loader-outline"></nb-icon>
              <ng-template #offline>
                <nb-icon *ngIf="row.data[defaultColumns[4]] === 'OFFLINE'; else online" icon="close-outline" class="text-danger"></nb-icon>
              </ng-template>
            </td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[5]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-90">{{ 'CATALOGUE_LIST_DATASETS' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[5]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[6]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-120">{{ 'CATALOGUE_LIST_UPDATE_PERIOD' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[6]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[7]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-120">{{ 'CATALOGUE_LIST_LAST_UPDATE' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{ row.data[defaultColumns[7]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[8]">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="hid col-w-75" >{{ 'CATALOGUE_LIST_ID' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row" class="hid">{{ row.data[defaultColumns[8]] }}</td>
          </ng-container>
  
          <ng-container [nbTreeGridColumnDef]="defaultColumns[9]" *ngIf="CB_enabled == true">
            <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef class="col-w-70">{{ 'CATALOGUE_LIST_CB' | translate }}</th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <ng-template #offline >
                <nb-icon icon="close-outline" class="text-danger"></nb-icon>
              </ng-template>
              <nb-icon *ngIf="row.data[defaultColumns[9]] == true; else offline" icon="checkmark-outline" class="text-success"></nb-icon>
            </td>
          </ng-container>
  
          <!-- ICONS -->
          <ng-container [nbTreeGridColumnDef]="iconColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(iconColumn)" *nbTreeGridHeaderCellDef class="col-w-120">
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_ADD_CATALOGUE' | translate }}" icon="plus-circle-outline" [options]="{ animation: { type: 'zoom' } }" routerLink="./addCatalogue"></nb-icon>
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_REMOTE_CATALOGUE_LIST' | translate }}" icon="list-outline" [options]="{ animation: { type: 'zoom' } }" routerLink="./remoteCatalogues"></nb-icon>
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_DOWNLOAD_DUMP' | translate }}" icon="download-outline" [options]="{ animation: { type: 'zoom' } }" (click)="downloadDump()"></nb-icon>
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_SEND_MQA_ANALYSIS' | translate }}" icon="bar-chart-outline" [options]="{ animation: { type: 'zoom' } }" (click)="sendMqaAnalisysCatalogue(row.data[defaultColumns[8]], row.data.index)"></nb-icon>
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_SYNCHRONIZE_CATALOGUE' | translate }}" icon="sync-outline" [options]="{ animation: { type: 'zoom' } }" (click)="syncCatalogue(row.data[defaultColumns[8]], row.data.index)"></nb-icon>
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_MODIFY_CATALOGUE' | translate }}" icon="edit-outline" [options]="{ animation: { type: 'zoom' } }" (click)="modifyCatalogue(row.data[defaultColumns[8]])"></nb-icon>
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_DELETE_CATALOGUE' | translate }}" icon="close-outline" [options]="{ animation: { type: 'zoom' } }" (click)="deleteCatalogue(row.data[defaultColumns[8]], row.data.index)"></nb-icon>
              <nb-icon nbTooltip="{{ 'CATALOGUE_LIST_DOWNLOAD_DUMP' | translate }}" icon="download-outline" [options]="{ animation: { type: 'zoom' } }" (click)="downloadDump(row.data[defaultColumns[0]], row.data[defaultColumns[8]])"></nb-icon>
            </td>
          </ng-container>
        </table>
      </nb-card-body>
    </nb-card>
  </div>