@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

@import './material/angular-material';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';
@import './material/material-overrides';

// install the framework and custom global styles
@include nb-install() {

  @include angular-material();

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
  @include material-overrides();
}

/* Global dialog styles */
.map-dialog-fixed {
  .overlay-backdrop {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1000 !important;
  }

  nb-dialog-container {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1001 !important;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 90vh !important;
    max-width: 90vw !important;
  }

  .scrollable-container {
    overflow: hidden !important;
  }
}

/* Nebular Overlay Container Fix */
.nb-global-overlay-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1000;
}

.nb-global-overlay-container > * {
  pointer-events: auto;
}

nb-layout-column router-outlet + * {
  display: block;
}

/* Fix z-index for datepicker */
nb-datepicker-container {
  z-index: 1050 !important;
}

/* Fix z-index for dialogs */
.cdk-overlay-container {
  z-index: 1040 !important;
}

/* Custom overlay container fixes */
.custom-overlay-container {
  pointer-events: none !important;
}

.custom-overlay-container .cdk-overlay-backdrop {
  pointer-events: auto !important;
}

.custom-overlay-container .cdk-overlay-pane {
  pointer-events: auto !important;
}

/* Prevent body from shifting */
html.cdk-global-scrollblock,
html.nb-global-scrollblock {
  position: static !important;
  width: auto !important;
  overflow: hidden !important;
  
  body {
    position: static !important;
    width: auto !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding-right: 0 !important;
  }
}
