<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><img class="mr-1" src="assets\images\idra_logo.png"></a>
  </div>

</div>


<div class="right-container">
  <div class="language-select-container">
    <nb-select
    class="custom-select"
    (selectedChange)="changeLang($event)"
    [selected]="idraUserLanguage"
    status="primary"
    shape="semi-round"
    filled
    >
      <nb-option
        *ngFor="let lang of languages"
        [value]="lang.lan"
        class="d-flex flex-row align-items-center white-background"
        style="background-color: rgb(255, 255, 255);"
      >
        <nb-user
          size="small"
          [name]="lang.lan | uppercase"
          [picture]="lang.picture"
          showTitle="false"
        >
        </nb-user>
      </nb-option>
    </nb-select>
  </div>
</div>


<div class="header-container"
  *ngIf="typeLogin.toLowerCase() === 'keycloak'" >

  <nb-actions size="small" *ngIf="authenticationEnabled">
    <nb-action
      class="user-action">
      <div *ngIf="user">
      <nb-user  *ngIf="user.roles!==undefined"
                [nbContextMenu]="userMenu"
                nbContextMenuTag="user-menu"
                [onlyPicture]="userPictureOnly"
                [name]="(user?.name!==undefined)?user?.name:user?.preferred_username"
                [title]="user?.roles.join(' | ')"
                [picture]="'assets/images/default_user.png'">
      </nb-user>

      <nb-user  *ngIf="user.realm_access!==undefined && user.realm_access.roles !== undefined"
                [nbContextMenu]="userMenu"
                nbContextMenuTag="user-menu"
                [onlyPicture]="userPictureOnly"
                [name]="(user?.name!==undefined)?user?.name:user?.preferred_username"
                [title]="user?.realm_access.roles.join(' | ')"
                [picture]="'assets/images/default_user.png'">
      </nb-user>
    </div>
    </nb-action>
  </nb-actions>
        <!-- Not Authenticated -->
    <nb-actions size="small" *ngIf="authenticationEnabled && (user=== undefined || user === null)">
      <nb-action class="user-action" >
        <nb-user [nbContextMenu]="userMenuDefault" nbContextMenuTag="user-menu" [onlyPicture]="userPictureOnly"

          [picture]="'assets/images/default_user.png'">
        </nb-user>
      </nb-action>
    </nb-actions>

</div>

<div *ngIf="typeLogin.toLowerCase() === 'basic'" class="header-container" fxLayout="row" fxLayoutAlign="start center">

  <nb-actions size="small" *ngIf="authenticationEnabled">
    <nb-action class="user-action" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true">
      <nb-user [nbContextMenu]="userMenu"
               nbContextMenuTag="user-menu"
               [onlyPicture]="userPictureOnly"
               [name]="(user?.name !== undefined) ? user?.name : user?.preferred_username"
               [title]="user?.roles.join(' | ')"
               [picture]="'assets/images/default_user.png'">
      </nb-user>
    </nb-action>
  </nb-actions>
  <div class="login-container m-left-16" fxFlex="none" style="margin-left: 16px;">
    <ng-template #login>
      <button nbButton (click)="logIn()">Login</button>
    </ng-template>
    <button nbButton (click)="logOut()" *ngIf="authenticated; else login">Logout</button>
  </div>
</div>