.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 85%;
  margin: 0;
  padding: 0;
}

.minwidth-fit-content {
    min-width: fit-content;
}

.ml-1 {
    margin-left: 0.25rem;
}
.ml-2 {
    margin-left: 0.5rem;
}

.filter-button{
    margin-left: 0.5rem;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.width-12 {
    width: 12rem;
}

.width-150 {
    width: 150px;
}

.max-width-webkitfill {
    max-width: -webkit-fill-available;
}

.min-width-100 {
    min-width: 100%;
}


ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.5rem;
}

ul.cloud div {
    color: rgb(51, 83, 170);
    display: block;
    font-weight: 600;
    padding: 1rem 0.8rem;
    text-decoration: none;
    position: relative;
    transition: all 500ms;
}

ul.cloud div:hover {
    transform: scale(1.1);
}

.tag-1 { 
    font-size: 2rem;
    opacity: 0.10; 
 }
.tag-2 { 
    font-size: 2.25rem;
    opacity: 0.25; 
 }
.tag-3 { 
    font-size: 2.5rem;
    opacity: 0.40; 
 }
.tag-4 { 
    font-size: 2.75rem;
    opacity: 0.55; 
 }
.tag-5 { 
    font-size: 3rem;
    opacity: 0.70; 
 }
.tag-6 { 
    font-size: 3.25rem;
    opacity: 0.85; 
 }
.tag-7 { 
    font-size: 3.5rem;
    opacity: 1; 
 }



ul.cloud li:nth-child(2n+1) div { color: #181; }
ul.cloud li:nth-child(3n+1) div { color: #33a; }
ul.cloud li:nth-child(4n+1) div { color: #c38; }
ul.cloud li:nth-child(5n+1) div { color: rgb(255, 102, 0); }
ul.cloud li:nth-child(6n+1) div { color: rgb(113, 51, 170); }
ul.cloud li:nth-child(7n+1) div { color: rgb(204, 51, 51); }
ul.cloud li:nth-child(8n+1) div { color: rgb(204, 201, 51); }
ul.cloud li:nth-child(9n+1) div { color: rgb(126, 78, 15); }

.category-img{
    width: 22px;
    height: 100%;
    object-fit: cover;
    margin-right: 0.75rem;
    // border-radius: 10px;
}

#advancedSearchCard {
    position: absolute;
    width: 100%;
    margin-top: 0;
    z-index: 1000; 
    transition: all 0.3s ease-out;
    transform: translateY(-400px);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#advancedSearchCard.visible {
    opacity: 1;
    transform: translateY(0); /* Move to its natural position */
    pointer-events: auto;
}

/* Make sure the search bar has a lower z-index */
#searchBar {
    position: relative;
    z-index: 900;
}

.disabled-icon {
  opacity: 0.5;
  pointer-events: none;
}