<nb-card style="width: 400px;">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body style="width: 400px;">
    <div class="row" style="width: 400px;">
      <div class="col-md-6">
        <h6 class="jumbotron-heading">Catalogue Type:</h6>	
        <nb-select placeholder="Catalogue Type" (selectedChange)="changedTypeHandler($event)" [selected]="catalogueType">
          <nb-option [value]="false" >JSON</nb-option>
          <nb-option [value]="true" >Idra</nb-option>
        </nb-select>
        <h6 class="jumbotron-heading">Catalogue Name:</h6>
         <input type="text" nbInput fullWidth status="primary" placeholder="Insert Prefix" [(ngModel)]="catalogueName">
         <h6 class="jumbotron-heading">URL:</h6>
        <input type="text" nbInput fullWidth status="primary" placeholder="Insert namespace <url>" [(ngModel)]="catalogueURL">
    
        
        <h6 class="jumbotron-heading" *ngIf="catalogueType == true">Authentication method:</h6>	
        <nb-select placeholder="Country"  *ngIf="catalogueType == true" (selectedChange)="changedAuthMethodHandler($event)" [selected]="authMethod" >
          <nb-option value="0" >N.A.</nb-option>
          <nb-option value="1" >Basic</nb-option>
          <nb-option value="2" >Oauth2</nb-option>
        </nb-select>
      </div>
      <div class="col-md-6">
        

        <h6 *ngIf="authMethod == '1' || authMethod == '2'" class="jumbotron-heading">Username:</h6>
        <input *ngIf="authMethod == '1' || authMethod == '2'" type="text" nbInput fullWidth status="primary" placeholder="Username" [(ngModel)]="username">
        <h6 *ngIf="authMethod == '1' || authMethod == '2'" class="jumbotron-heading">Password:</h6>
        <input *ngIf="authMethod == '1' || authMethod == '2'" type="text" nbInput fullWidth status="primary" placeholder="Password" [(ngModel)]="password">

        <h6 *ngIf="authMethod == '2'" class="jumbotron-heading">Client ID:</h6>
        <input *ngIf="authMethod == '2'" type="text" nbInput fullWidth status="primary" placeholder="Client ID" [(ngModel)]="clientID">
        <h6 *ngIf="authMethod == '2'" class="jumbotron-heading">Client Secret:</h6>
        <input *ngIf="authMethod == '2'" type="text" nbInput fullWidth status="primary" placeholder="Client Secret" [(ngModel)]="clientSecret">
        <h6 *ngIf="authMethod == '2'" class="jumbotron-heading">Portal URL:</h6>
        <input *ngIf="authMethod == '2'" type="text" nbInput fullWidth status="primary" placeholder="Portal URL" [(ngModel)]="portalURL">

      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div style="display: flex;justify-content: space-between;">
      <button nbButton status="primary" (click)="dismiss(0,0,0,0,0,0,0,0,0)">CLOSE</button>
      <button nbButton status="primary" (click)="dismiss(catalogueName, catalogueURL, catalogueType, authMethod, username, password, clientID, clientSecret, portalURL)">{{action}}</button>
    </div>
  </nb-card-footer>
</nb-card>
